@import '../../colors';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  perspective: 800px;
  transform-style: preserve-3d;

  .play-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($black, .5);
    }
  }

  it-circle-progress {
    cursor: pointer;
  }

  .controls {
    width: 70vmin;
    height: 70vmin;
    border: 1px solid $white;
    border-radius: 50%;
    position: relative;
    transition: all .8s ease;
    transform-origin: 0 0;
    will-change: transform;

    &.transform {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    border: 1px solid $white;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 60px;
  }

  .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
    border: 0;
    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: .8;
    }

    &:focus {
      outline: 0;
    }

    &_play {
      left: calc(50% - 25px);
      bottom: 6px;
    }

    &_menu {
      left: calc(50% - 25px);
      top: 6px;
    }

    &_prev {
      top: calc(50% - 25px);
      left: 6px;
    }

    &_next {
      top: calc(50% - 25px);
      right: 6px;
    }
  }

  .icon {
    display: block;

    &_play {
      margin-left: 14px;
      border-left: 32px solid $white;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    &_pause {
      width: 8px;
      height: 30px;
      margin-left: 18px;
      position: relative;
      background-color: $white;

      &:after {
        content: '';
        width: 8px;
        height: 30px;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 12px;
      }
    }

    &_prev {
      width: 8px;
      height: 30px;
      margin-left: 3px;
      position: relative;
      background-color: $white;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        border-right: 16px solid $white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

      &:before {
        left: 8px;
      }

      &:after {
        left: 24px;
      }
    }

    &_next {
      width: 8px;
      height: 30px;
      left: 40px;
      position: relative;
      background-color: $white;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        border-left: 16px solid $white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

      &:before {
        right: 8px;
      }

      &:after {
        right: 24px;
      }
    }

    &_menu {
      width: 30px;
      height: 6px;
      background-color: $white;
      position: relative;
      bottom: 8px;
      left: 12px;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 6px;
        background-color: $white;
        position: absolute;
        left: 0;
      }

      &:before {
        top: 10px;
      }

      &:after {
        top: 20px;
      }
    }
  }

  it-playlist {
    position: absolute;
    transform: translateY(100vh);
    opacity: 0;
    transition: all .8s ease;
    transform-origin: 0 0;
    will-change: transform;

    &.transform {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
